<div class="container mt-3">
  <div class="row">
    <div class="col-md 8">
      <h2>Edit Kontak</h2>
      <% if (typeof errors != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      <form action="/contact?_method=PUT" method="post">
        <input type="hidden" name="_id" value="<%= contact._id %>" />
        <input
          type="hidden"
          name="oldNama"
          value="<%=contact.oldNama || contact.nama%>"
        />
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input
            type="text"
            class="form-control"
            id="nama"
            placeholder="masukkan nama"
            name="nama"
            value="<%=contact.nama%>"
            autocomplete="off"
            required
          />
        </div>

        <div class="mb-3">
          <label for="nim" class="form-label">NIM</label>
          <input
            type="text"
            class="form-control"
            id="nim"
            placeholder="ex 932..."
            name="nim"
            value="<%=contact.nim%>"
            required
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="nohp" class="form-label">No. HP</label>
          <input
            type="text"
            class="form-control"
            id="nohp"
            placeholder="08..."
            name="nohp"
            value="<%=contact.nohp%>"
            required
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="<%=contact.email%>"
            required
            placeholder="name@example.com"
            autocomplete="off"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
